html {
	height: 100%;
}

.name {
	font-size: 50px;
}

.grid {
	overflow: hidden;
	padding: 2em 2em;
	max-width: 76em;
	margin: 0 auto;
}

.grid li {
	padding: 0 0.8em 1.3em;
}

.grid li>div {
	border-bottom: 1.8px solid #30363D;
	border-right: 1.4px solid #30363D;
	border-left: 0.7px solid #30363D;
	border-top: 0.6px solid #30363D;
	border-radius: 20px;
	color: #E6EDF3;
	background: #0D1117;
	padding: 7em 2em;
	text-align: center;
}

.grid li a {
	color: #E6EDF3;
	transition: all ease 0.5s;
}

.grid li a:hover {
	color: #0B6121;
}

@media all and (min-width: 27em) {
	.grid li {
		width: 100%;
		float: left;
	}
}

@media all and (min-width: 40em) {
	.grid li {
		width: 50%;
	}

	.grid li.wide {
		width: 100%;
	}
}

@media all and (min-width: 60em) {
	.grid li {
		width: 33%;
	}

	.grid li.wide {
		width: 100%;
	}
}

.container-show {
	padding-top: 10%;
	padding-bottom: 7%;
}

.js-global-header-scrolling {
	transform: translateY(-4em);
	/* Height of the header */
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #0D1117;
	position: relative;
	margin: 0;
	min-height: 100%;
}

.footer {
	color: white;
	text-align: center;
	padding: 0.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95px;
	background-color: #0b3B39;
}

.footer>p {
	margin: 0;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	background-color: #0B3B39;
	width: 100%;
	position: fixed;
	text-align: center;
	transition: all ease .5s;
}

.end{
	align-self: flex-end;
}
.header a {
	text-decoration: none;
	display: block;
	color: white;
	background: center center no-repeat;
	border-radius: 5px;
	margin-right: 12px;
	padding: 15px 25px;
	transition: 1s all ease;
}

.header a:hover {
	text-decoration: none;
	color: white;
	background-color: #0B6121;
	display: block;
	padding: 15px 25px;
	transform: scale(1.1);
}

.user_img{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

.header h2 {
	width: 300px;
}

.header h2 a {
	position: relative;
	top: 20px;
	text-decoration: none;
	color: white;
	padding: 0px 0px;
	transition: 0.5s all ease;
}

.header h2 a:hover {
	text-decoration: none;
	color: white;
	background-color: #0B3B39;
	padding: 0px 0px;
	transform: scale(1.1);
}

.js-global-header-scrolling > h2{
	position: relative;
	transform: translateY(25px);
}
